<div class="story-body">
    <h2>10 most visited countries by Russian presidents 2001-2019</h2>
    <p>Russian presidentd have travelled abroad much more often than US and Chinese presidents in 21st century. The most visited countries are neighbors.</p>
  
    <div id="chart-2"></div>
<p class ="chart-source">Source: Kremlin.ru</p>

<script src="scripts/chart-02.js"></script>

    <h2>10 most visited countries by US presidents 2001-2019</h2>
    <p>US presidents visit fewer countries than Russian and Chinese presidents. They also tend to favour rich countries wheras Russian and Chinese presidents don't. </p>
  
    <div id="chart-3"></div>
    <p class ="chart-source">Source: Office of the Historian</p>
    <br>
    <br>
    <a href='https://github.com/Satuhelin/d3/tree/master/presidents' target="_blank">Code and original data </a> 
</div>

<script src="scripts/chart-03.js"></script></div>