<div class="story-body">
    <h2>Out of Superpower leaders, Russian presidents travel the most</h2>
    <p>This chart shows the foreign trips made by the US, Chinnese and Russian presidents 2003-2018</p>
   
    <div id="chart-1"></div>
    <p class ="chart-source"> Sources: Chinavitae.com, Kremlin.ru, Office of the Historian</p>
</div>

<script src="scripts/chart-01.js"></script>
