<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="index.hbs">My Work</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="presidents.hbs">How the Presidents Travel</a> </li>
         <li class="nav-item">
         <a class="nav-link" href="https://satuhelin.github.io/test1/">Filipinos in the US and rollercaosters of the World</a></li>
         <li class="nav-item"></li>
          <a class="nav-link" href="https://satuhelin.github.io/test/story1/">Responsive design</a></li>
            <a class="nav-link" href="https://satuhelin.github.io/test/story2/">Remake of a Pudding story</a></li>
      </li>
    </ul>
  </div>
</nav>