---
headline: "Data Visualizations and else"
subhead: "D3, Illustrator and Python work I have done for Columbia J-School"
published_date: "October 27, 2019"
site: "http://www.littlecolumns.com"
siteName: "Little Columns"
url: "http://littlecolumns.com/learn/d3-javascript-tooling/"
kicker: "Have a look"
author:
    name: "Satu Helin"
    
    twitterHandle: "@satuhelin"
analytics": ""
---
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->


{{!< default}}

<!-- 
  Put some content into an .hbs file inside of /partials, 
  and you can just throw it in anywhere!
-->
<div class="story-body">
    <h2>This is how Superpower leaders travel?</h2>
    <p>This chart shows the foreign trips made by the US, Chinese and Russian presidents 2003-2018</p>
   
    <div id="chart-1"></div>
    <p class ="chart-source"> Sources: Chinavitae.com, Kremlin.ru, Office of the Historian</p>
</div>

<script src="scripts/chart-01.js"></script>
